
// base colors
$bg: #2c304e;
$bg-light: #343859;
$bg-dark: #242843;

// section
$bg-selection: #21243b;
$bg-selct-button: #42476a; 

// dots
$blue: #4266ee;
$magenta: #eb60f0;
$tomato: #f23e60; 
$green: #36b361;
$silver: #c2c5d6;

// accents
$blue-accent: #008aee;
$green-accent: #43d378;


