@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans:300,400");
html,
body {
  font-family: 'IBM Plex Sans', sans-serif;
  background-color: #343859;
}

.hero {
  background-image: url("");
  background-size: cover;
  background-repeat: no-repeat;
  height: 700px;
}

.hero-overlay__wrapper {
  background-image: url("../images/hero-overlay.png");
  background-size: cover;
  background-position: bottom;
  height: 700px;
}

.navbar {
  padding: 45px 0 45px 0;
  border-top: 5px solid #008aee;
  background-color: transparent !important;
}

.navbar .container {
  height: 80px;
}

.navbar .navbar-brand {
  width: 200px;
}

.navbar-item img {
  min-height: 80px;
  min-width: 300px;
}

.controller {
  padding-top: 125px;
  position: relative;
}

.sticker {
  position: absolute;
  padding-top: 127px;
  margin-left: -600px;
}

.color__select div {
  display: inline-block;
}

.color__select input[type="radio"] {
  display: none;
}

.color__select input[type="radio"] + label span {
  display: inline-block;
  width: 50px;
  height: 20px;
  margin: -1px 4px 0 0;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 10%;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  line-height: 25px;
}

.color__select input[type="radio"] + label span img {
  opacity: 0;
  transition: all .3s ease;
}

.color__select input[type="radio"]#blue + label span {
  background-color: #4266ee;
}

.color__select input[type="radio"]#magenta + label span {
  background-color: #eb60f0;
}

.color__select input[type="radio"]#tomato + label span {
  background-color: #f23e60;
}

.color__select input[type="radio"]#green + label span {
  background-color: #36b361;
}

.color__select input[type="radio"]#silver + label span {
  background-color: #c2c5d6;
}

.color__select input[type="radio"]:checked + label span img {
  opacity: 1;
  height: 15px;
  width: 15px;
}

.sticker__select label > input {
  /* HIDE RADIO */
  visibility: hidden;
  /* Makes input not-clickable */
  position: absolute;
  /* Remove input from document flow */
}

.sticker__select label > input + img {
  /* IMAGE STYLES */
  cursor: pointer;
  padding-top: 50px;
  height: 150px;
  width: 150%;
}

.sticker__select .columns {
  margin-top: 0 !important;
}

.sticker {
  z-index: 999;
}

.sticker-wrapper {
  height: 500px;
  background-color: #21243b;
}
